body {
  margin:0;
  font-size:14px;
  background-color:#f5f5f5;
}

header{

  height:80px;
  display:block;
}

.header-logo {
  height:21px;

}

.header-logo img {
  height:100%;
  padding:20px 0 0 15px;
}

ul {
  list-style:none;
  display:flex;
  padding-left:0;
  margin-top:27px;
}

ul li {
  margin:0 15px;
}

ul li a {
  text-decoration:none;
  color:black;
}

#mainvisual img {
  height:650px;
  width:100%;
  object-fit:cover;
}

.wrapper {
  padding:0 3%;
}

.title {
  margin-top:80px;
}

.title h3 {
  font-family: sans-serif;
  font-size:30px;
  margin:0;
}

.title p{
  margin:0;
}
