body {
  margin:0;
  font-size:14px;
  font-family: Arial, Hiragino Sans, Hiragino Kaku Gothic ProN, Meiryo, sans-serif;
}

h1, h2, p {
  margin:0;
}

header {
  background-image: url("img/mainvisual.jpeg");
  background-size: cover;
  background-position: center top;
  background-repeat:no-repeat;
  height:100vh;
  display:flex;
  margin-bottom:80px;
}

.header-logo {
  margin-left:auto;
  padding:35px 35px 0 0;
}

.header-logo img {
  height:40px;
}

.title {
  text-align:center;
}

.title h1 {
  font-size:1.75em;
  margin-bottom:20px;
}

.images {
  margin-bottom:80px;
}

.wrapper {
  padding:0 5%;
}

.images :hover {
  opacity:0.7;
}

.images img {
  width:100%;
  display:block;
  margin-top:35px;
}

.archive, .new {
  position:relative;
}

.text {
  position:absolute;
  left:0;
  right:0;
  top:40%;
  padding:20px 30px;
  background-color:rgba( 0, 0, 0, 0.5);
  color:white;
  width:230px;
  text-align:center;
  margin:0 auto;
  display:block;
}

.text p {
  font-weight:bold;
}

.fashion {
  background-image: url("img/fashion.jpeg");
  background-size:cover;
  background-position: center top;
  background-repeat:no-repeat;
  height:500px;
  width:100%;
  margin-bottom:80px;
}

.describe {
  padding-top:60px;
  margin-bottom:40px;
}

.btn a {
  padding:15px 35px;
  border:1px solid black;
  text-decoration:none;
  color:black;
  font-size:0.9em;
}

.works {
  background-color:#f5f5f5;
}

.catalog-antique {
  padding:30px 0;
}

.catalog {
  margin-bottom:60px;
}

.catalog img, .antique img {
  width:100%;
  display:block;
}

.catalog img {
  margin-bottom:80px;
}

.catalog h2, .antique h2 {
  margin-bottom:40px;
  font-size:1.7em;
}

.des h2, .des .btn {
  text-align:center;
}

.middle {
  margin:30px 0;
}

.bottom {
  margin-top:30px;
}

.antique .btn {
  margin:80px 0;
}



.black {
  background-color: #303030;
  color:white;
}

.footer-logo {
  text-align: center;
}

.white {
  margin:30px 0;
  text-align: center;
  font-size:0.85em;
}



@media screen and (min-width:896px){
  .images {
    display:flex;
    justify-content:space-between;
  }

  .mag {
    max-width:1180px;
    margin:0 auto;
  }

  .archive, .new {
    width:49%;
  }

  .catalog, .antique {
    display:flex;
    align-items:center;
    justify-content:space-between;
  }

  .works img {
    width:50%;
  }

  .catalog-antique {
    padding:65px 0;
  }

  .works img, .works .des {
    width:48%;
  }

  .catalog img {
    margin-bottom:0;
  }

  .catalog {
    margin-bottom:120px;
  }

  .antique .btn {
    margin-bottom:0;
  }

  .flex-items {
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding-top:95px;
    padding-bottom:95px;
  }

  .flex-item {
    width:33%;
  }

  .footer-logo {
    text-align:left;
  }
}
